<h2>Help</h2>

<p>

All the pages are accessible using the tabs at the top of the page.  The
one marked 'Play!' is the primary page for keeping track of bets.  You may 
bookmark that page as: 
<%= link_to 'https://members.betonmyself.com', '/' %> 

<p></p>

<p><b>Creating New Goals</b></p>

<p></p>

In the 
<%= link_to 'Play!', '/' %> 
area, you create, update, and complete
your bets.  Start by clicking on the 'Create new Goal' link in the upper
right.  The form that appears will allow you to create a new goal with a
description, payoff, due date, and next action.

<p></p>

The description is what your goal actually is.  Make it as specific as
possible.  "Get in Shape" isn't as good as "Go to the gym three times this
week."  Phrase it in a way that is totally in your control, "Submit my resume
to three companies" is better goal than "Get a job interview" because it is 
completely under your control.  Set goals you can take full responsibility
for in order to create an environment that allows the things you can't fully
control to happen.

<p></p>

The 'Payoff' field is how much you are willing to put on this bet.  It's
both the carrot and the stick.  That amount will bet taken out of your
incentive account to place the bet, and that is what you will get paid
after accomplishing your goal.  The higher the payoff, the more incentive 
and motivation you will have to complete it.

<p></p>

The 'Due Date' field is when you promise to have the goal completed.  It is
editable for an hour after you place your bet to allow you some time to
think about it.  Setting big goals far off in the future is a great way to
stay focused on them, and setting smaller goals sooner helps you stay on
track and get things cleared out soon.  A balance between the two will provide
the best path for you to move forward.

<p></p>

The 'Next Action' field is a place for you to write down what the very next
step is for you to accomplish your goal.  It is editable after you create
your goal, and is a great way to track your progress and keep yourself
focused on what the next step is.  A great way to do this is to imagine having
no other responsibilities other than your goal.  What would you need to do
right now to make progress towards your goal.  If you had nothing else in the
way, what could you do this very minute.  That is your 'Next Action'  Write it 
down, and when a few spare minutes find you, you'll know exactly what to do.

<p></p>

Now, take a deep breath and click on the big 'I Promise Myself That I'll
Complete This Goal, By This Date' button.  Congratulations, you've taken
the first step.  You'll feel a sense of relief and excitement.  A part of
you will know that the goal will get done. The form will be replaced by a
list of all your goals.

<p></p>

<p><b>Completing Goals</b></p>

<p></p>

To complete a goal, simply click the 'complete' button next to the goal.
You'll be presented with a unique opportunity to give yourself some praise.
Type in a congratulatory note, a great big Huzzah! would be appropriate.
This message will be shown in the list of accomplishments and will give you
a warm fuzzy for next time.

<p></p>

<p><b>Adding money to your account</b></p>

<p></p>

Go to the 
<%= link_to 'Add Money', 'purchase' %>
tab. Select how much money
you want to transfer to your incentive account, and click Purchase.  You can
then transfer money using Paypal or a credit-card into your incentive account.
There are transfer fees associated with the transaction, which may apply when
you cash-out.  However, they will not show up until you choose to cash-out,
because your expired goals will be used to cover the cost of the transaction.

<p></p>

<p><b>Cashing out</b></p>

<p></p>

If you've decided to take money out of your incentive account, go to the
<%= link_to 'Cash Out', 'cash_out' %>
 tab.  Any transfer fees will be
calculated against any goals that may have expired.  You can choose how
much of your incentive account you want and which method you want your
money transferred to you.  Please allow 24 hours for the transaction.

<p></p>

<p><b>Feedback</b></p>

<p></p>

We love getting feedback, and you help us out by 
<%= link_to 'providing yours.', 'support' %>.

<p></p>

<p><b>Account Management</b></p>

<p></p>

You may update your account information from the 
<%= link_to 'account management', 'update_account' %> 
page.  From here you can update your email
address, change your name, and change your password.  Email addresses need 
to be verified through a simple email exchange before they take effect.

<p></p>

<p><b>Account History</b></p>

<p></p>

To review a list of all your BetOnMyself interactions, see the 
<%= link_to 'account history', 'account_history' %>
page.

<p>


