<% if not @feedback.nil? and @feedback.errors.any? %>
<div class="errorExplanation" id="errorExplanation">
  <h2>
    <%= @feedback.errors.length -%>
    <% if @feedback.errors.length > 1 %> 
    errors 
    <% else %>
    error
    <% end %>
    prevented this concern from being sent.
  </h2>
    There were problems with the following fields:
  <ul>
    <%= @feedback.errors.full_messages.map {|m| content_tag('li', m)} %>
  </ul>
</div>
<% end %>
<h2>Report A Problem</h2>
<p><b>Hava a Problem or Concern?</b></p>
Let us know about it.  We are constantly developing this site to give you the best experience possible.<br/>
Your input is valuable to us, and we'll get back to you as soon as possible.
<% form_for :feedback, @feedback, :url => { :action => 'submit' } do |f| %>
<p></p>
<p><label>Subject</label><br>
<%= f.text_field :subject, :class => 'text-input', 
    :size => 60,
    :style => @style
 %>
</p>
<p><label>Problem or Concern</label><br>
  <%= f.text_area :problem,
      :cols => 58,
      :rows => 3,
      :style => @style 
  %>
</p><p>
<%= submit_tag 'Report Problem' %>
</p>
<% end %>
