<h1>Login</h1>
<p> Please enter your username and password to enter the members area.</p>

<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', nil, :size => 30 %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password', nil, :size => 30 %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>

<p><%= link_to "Trouble logging in?", :controller => "lost_password" %></p>
