<% if not @user.nil? and @user.errors.any? %>
<div class="errorExplanation" id="errorExplanation">
  <b>Error</b>: Failed Authentication
</div>
<% end %>
<h1>Login</h1>
<p> Please enter your username and password to enter the members area.</p>

<% form_for :user, :url => session_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login, :size => 30 %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password, :size => 30 %></p>

<p><label for="remember_me">Remember me:</label>
<%= f.check_box 'remember_me' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>

<p><%= link_to "Trouble logging in?", :controller => "lost_password" %></p>
