<% if not @user.nil? and @user.errors.any? %>
<div class="errorExplanation" id="errorExplanation">
  <h2>
    <%= @user.errors.length -%>
    <% if @user.errors.length > 1 %> 
    errors 
    <% else %>
    error
    <% end %>
    prevented this account update request.
  </h2>
    There were problems with the following fields:
  <ul>
    <%= @user.errors.full_messages.map {|m| content_tag('li', m)} %>
  </ul>
</div>
<% end %>
<h1>Update Account for <%= @user.login %> </h1>
<% form_for :user, :url => { :action => :change } do |f| -%>
<p><label for="first_name">First Name</label><br/>
<%= f.text_field :first_name %></p>

<p><label for="last_name">Last Name</label><br/>
<%= f.text_field :last_name %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %>
<% if not @user.new_email.nil? -%>
(<em>pending change to: <%= h(@user.new_email) -%></em>)<br/>
<% end -%>
</p>

<p><label for="password">Old Password</label><br/>
<%= f.password_field :old_password %></p>

<p><label for="password">New Password (optional)</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm New Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Update' %></p>
<% end -%>

