<h1>Update Account for <%= @user.login %> </h1>
<%= error_messages_for :user %>
<% form_for :user, :url => { :action => :change } do |f| -%>
<p><label for="first_name">First Name</label><br/>
<%= f.text_field :first_name %></p>

<p><label for="last_name">Last Name</label><br/>
<%= f.text_field :last_name %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Old Password</label><br/>
<%= f.password_field :old_password %></p>

<p><label for="password">New Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm New Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Update' %></p>
<% end -%>

