<%= error_messages_for :cash_out_request %>
<p>
Here is how your account looks right now:
</p>

<p>
 <%= render_partial 'users/account_summary', @user -%>
</p>

<hr>
<p></p>
<p></p>

Of that <%= sigil_money(@available_cashout_funds) %>, how much would you like to cash out?
<p></p>
<% form_for :cash_out_request, @cash_out_request, :url => { :action => :submit } do |f| -%>

<p>
<label for="price">Amount</label> <%= f.text_field :price, :size => 8, :value => "$" + money_format(@cash_out_request.price) %>
</p>

<p>
And how would you like us to send that to you?
</p>

<p>
<%= f.radio_button :method, BomConstant::CASH_OUT_TYPE_PAYPAL %>
<label for="paypal_account">Paypal</label> <%= f.text_field :paypal_account, :size => 30 %>
</p>

<p>
<%= f.radio_button :method, BomConstant::CASH_OUT_TYPE_GOOGLE %>
<label for="google_account">Google Account</label> <%= f.text_field :google_account, :size => 30 %>
</p>

<p>
<%= f.radio_button :method, BomConstant::CASH_OUT_TYPE_CHECK %>
<label for="check">Mail a Check To</label>
  <%= f.text_area :mailing_address,
      :cols => 40,
      :rows => 4
  %>
</p>

<p><%= submit_tag 'Cancel' -%> <%= submit_tag 'Cash Out' -%></p>
<% end -%>
