<h1>So soon?</h1>
<h2>So far you've accomplished <%= @accomplishments.length %>
goal<%= @accomplishments.length == 1 ? '' : 's' -%>, including:<br></h2>
<ul>
<% @accomplishments.each do |a| %>
  <li><%= h(a.descr) %></li>
<% end %>
</ul>
You currently have <b>$<%= money_format(self.current_user.ballance) %></b> in your incentive account.<br>
<p></p>

You can fill out this optional Feedback form and we'll cash you out, or you 
can <p>
  <%= link_to "Play some more!", '/', 
    :class => "red_link"%></p>

<h2>Optional Survey</h2>
<%= form_tag :action => 'cash_out' %>
<dl>
 <dt>
   Did you find the site useful for accomplishing your goals?
 </dt>
 <dd>
   Yes: <%= radio_button :survey, :q1, 'yes' %>
   No: <%= radio_button :survey, :q1, 'no' %>
   Sort Of: <%= radio_button :survey, :q1, 'sortof' %>
 </dd>
 <dt>
   How honest were you with yourself?
 </dt>
 <dd>
   Very: <%= radio_button :survey, :q2, 'very' %>
   Mostly: <%= radio_button :survey, :q2, 'mostly' %>
   Not at All: <%= radio_button :survey, :q2, 'notatall' %>
 </dd>
 <dt>
   Will you recommend the site to your friends?
 </dt>
 <dd>
   Yes: <%= radio_button :survey, :q3, 'yes' %>
   No: <%= radio_button :survey, :q3, 'no' %>
 </dd>
 <p></p>
   <%= submit_tag 'Cancel'%>
   <%= submit_tag 'Cash Out'%>
</dl>
</form>
