<% @accomplishments = @user.accomplishments %>
<h2>So soon?</h2>
<% if @user.bets.length == 0 %>
<p><b>Come on, now... You haven't even set up any goals, yet.</b></p>
<% elsif @accomplishments.length == 0 %>
<p><b>But you haven't accomplished any of your goals...</b></p>
<% else %>
<p><b>So far you've accomplished <%= @accomplishments.length %>
goal<%= @accomplishments.length == 1 ? '' : 's' -%>, including:</b></p>
<ul>
<% @accomplishments.each do |a| %>
  <li><%= h(a.descr) %></li>
<% end %>
</ul>
<% end %>

You currently have <b>$<%= money_format(self.current_user.balance) %></b> in your incentive account.<br>
<p></p>

You can fill out this optional Feedback form and we'll cash you out, or you 
can <p>
  <%= link_to "Continue to Play!", '/', 
    :class => "red_link"%></p>

<h2>Optional Survey</h2>
<%= form_tag :action => 'cash_out' %>
<dl>
 <dt>
   Did you find the site useful for accomplishing your goals?
 </dt>
 <dd>
  <%= radio_button :survey, :q1, 'yes' %> Yes
 </dd>
 <dd>
  <%= radio_button :survey, :q1, 'no' %> No 
 </dd>
 <dd>
  <%= radio_button :survey, :q1, 'sortof' %> Sort Of 
 </dd>
 <dt>
   How honest were you with yourself?
 </dt>
 <dd>
   <%= radio_button :survey, :q2, 'very' %> Very 
 </dd>
 <dd>
   <%= radio_button :survey, :q2, 'mostly' %> Mostly 
 </dd>
 <dd>
   <%= radio_button :survey, :q2, 'notatall' %> Not at All 
 </dd>
 <dt>
   Will you recommend the site to your friends?
 </dt>
 <dd>
   <%= radio_button :survey, :q3, 'yes' %> Yes 
 </dd>
 <dd>
   <%= radio_button :survey, :q3, 'no' %> No 
 </dd>
 <p></p>
   <%= submit_tag 'Cancel'%>
   <%= submit_tag 'Cash Out'%>
</dl>
</form>
