<h2>How does it work?</h2>

<p>

You will use <b><i>your</i></b> money to pay <b><i>yourself</i></b> to do
the important things in your life.  Sounds intriguing, doesn't it?  The
BetOnMyself tools will track your promises and help you stay focused on
what matters.  Each of those promises will have a specific goal, a specific
date, and a specific price.  For instance, you place a $20 bet to make an
appointment with your tax advisor by March 15th.  That's it.  All of a
sudden, calling your tax advisor will turn from a burdensome chore, into a
fun little game.  Once you've scheduled your appointment, you win your bet
and get paid $20 out of your account.  Yay!

</p><p>

After setting up your account, you'll have access to the tools you need for
keeping track of your promises.  You can see what this looks like on the
<%= link_to "demo", {:controller => "demo"} %> page.

</p><p>
We'll even give you 
<b><%= sigil_money(BomConstant::INITIAL_LOAN_AMOUNT, :round) %></b> 
to start with.  You won't be able to cash this money out, but if you 
<%= link_to "sign up", {:controller => "users", :action => "new"} %> now, 
you'll be able to place 
<b><%= sigil_money(BomConstant::INITIAL_LOAN_AMOUNT, :round) %></b>
worth of free bets to get a feel for how the site works.... And start
getting your stuff done!
</p><p>

<%= link_to "Sign me up!", {:controller => "users", :action => "new"}, :class => "red_link"%>

</p>
