<%
  @total_expired_bet_funds = @user.total_expired_bet_funds
  @total_expired_bet_funds_fmt = sigil_money(@total_expired_bet_funds)
  @fee_total = @user.fee_total
  @fee_total_fmt = sigil_money(@fee_total)
  @available_cashout = @user.available_cashout_funds
  @available_cashout_fmt = sigil_money(@available_cashout)
  @straight_up_cashout_funds = @user.straight_up_cashout_funds
  @straight_up_cashout_funds_fmt = sigil_money(@straight_up_cashout_funds)
  @items = @user.items
  @items_no_loan = []
  @items.each do |i|
    if i.account_history_action != 'Loan In' and
         i.account_history_action != 'Loan Out'
      @items_no_loan.push i
    end
  end
%>

<p>
<table cellspacing="3" cellpadding="3">
<tr>
  <th align="right">Date</th>
  <th align="center">Action</th>
  <th align="right">Amount</th>
  <th align="right">Transaction Fee</th>
  <th align="right">Balance</th>
  <th align="center">Goal</th>
</tr>
<tr>
  <td align="right">
    <%= @user.created_at.strftime("%m/%d/%Y") -%>
  </td>
  <td align="left">
    Signed Up
  </td>
  <td align="right">
    -
  </td>
  <td align="right">
    -
  </td>
  <td align="right">
    $0.00
  </td>
  <td align="left">
    To Get My Stuff Done
  </td>
</tr>
<tr>
  <td align="right">
    <%= @user.activated_at.strftime("%m/%d/%Y") -%>
  </td>
  <td align="left">
    Activated Account
  </td>
  <td align="right">
    -
  </td>
  <td align="right">
    -
  </td>
  <td align="right">
    $0.00
  </td>
  <td align="left">
    -
  </td>
</tr>
<%
  balance = 0
  @items.each do |i| 
  balance += i.account_history_balance_effect
%>
<tr>
  <td align="right">
    <%= i.account_history_date -%>
  </td>
  <td align="left">
    <%= i.account_history_action -%>
  </td>
  <td align="right">
    <%= i.account_history_price -%>
  </td>
  <td align="right">
    <%= i.account_history_fee -%>
  </td>
  <td align="right">
    <%= sigil_money(balance) -%>
  </td>
  <td align="left">
    <%= h(i.account_history_goal) -%>
  </td>
</tr>
<% end %>
</table>
</p>

<p></p>

<% if @items_no_loan.length > 0 and @fee_total > 0 -%>

<p>
<b>Current Balance</b>: <b><span class="red_link"><%= @straight_up_cashout_funds_fmt -%></span></b>
</p>

<% if @total_expired_bet_funds >= @fee_total -%>
<p>
Since your <%= link_to "expired goal total", :controller => 'expired' -%> (<%= @total_expired_bet_funds_fmt -%>) is greater than your transaction fee total (<%= @fee_total_fmt -%>) the transaction fees are waived, and your available cash out balance is: <b><%= @straight_up_cashout_funds_fmt %> + <%= @fee_total_fmt -%> = <span class="red_link"><%= @available_cashout_fmt -%></span></b>
</p>

<% elsif @total_expired_bet_funds > 0 %>

<p>
Your expired goals (<%= @total_expired_bet_funds_fmt -%>) cover part of your transaction fees (<%= @fee_total_fmt -%>).  So, your available cash out balance is simply:
</p><p>
<b>
Balance + FeesCoveredByExpiredGoals = Available Cash Out Balance<br/>
<%= @straight_up_cashout_funds_fmt -%> +
<%= @total_expired_bet_funds_fmt -%> = 
<span class="red_link"><%= @available_cashout_fmt -%></span> 
</b>
</p>

<% end %>
<% else %>
<p>
<b>Current CashOut Balance</b>: <b><span class="red_link"><%= @straight_up_cashout_funds_fmt -%></span></b>
</p>
<% end %>
