<% if not @user.nil? and @user.errors.any? %>
<div class="errorExplanation" id="errorExplanation">
  <h2>
    <%= @user.errors.length -%>
    <% if @user.errors.length > 1 %> 
    errors 
    <% else %>
    error
    <% end %>
    prevented us from signing you up.
  </h2>
    There were problems with the following fields:
  <ul>
    <%= @user.errors.full_messages.map {|m| content_tag('li', m)} %>
  </ul>
</div>
<% end %>
<h1>Sounds like fun, sign me up:</h1>
<% form_for :user, :url => '/signup/create' do |f| -%>
<p><label for="first_name">First Name</label><br/>
<%= f.text_field :first_name %></p>

<p><label for="last_name">Last Name</label><br/>
<%= f.text_field :last_name %></p>

<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>

<!-- EUA:
 o Explain Winner Buys Policy
 o Not always able to immediately cash out
 o Inactive accounts expire after 1 year
-->
