<h1>Add $<%= money_format(@amount) -%> to your account</h1>

<%= content_tag('div', "There was an error processing your payment: #{@paypal_error}", :class => 'error') if @paypal_error %>

<% if @creditcard.errors.any? %>
  <div class="error">
    Errors encountered with your credit card information:
    <ul>
      <%= @creditcard.errors.full_messages.map {|m| content_tag('li', m)} %>
    </ul>
  </div>
<% end %>

<p>
  Pay by credit card...
</p>

<% form_for :creditcard, @creditcard, :url => { :action => 'credit' } do |f| %>
<p>
  <label>Card Number</label><br/>
  <%= f.text_field :number %>
</p><p>
  <label>Card Type</label>
  <%= f.select :type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
</p><p>
  <label>Expiration Month</label><br/>
  <%= f.select :month, (1 .. 12) %>
</p><p>
  <label>Expiration Year</label><br/>
  <%= f.select :year, (Time.now.year .. 10.years.from_now.year) %>
</p><p>
  <label>CVV (three digits on the back of card)</label><br/>
  <%= f.text_field :verification_value, :size => 4 %>
</p><p>
  <label>First Name on Card</label><br/>
  <%= f.text_field :first_name, :size => 15 %>
</p><p>
  <label>Last Name on Card</label><br/>
  <%= f.text_field :last_name, :size => 15 %>
</p><p>
  <input id="price" name="price" type="hidden" value="<%= @amount -%>" />  
  <%= submit_tag 'Transfer Funds' %>
</p>
<% end %>

<p>
  ...or by PayPal
</p>

<% form_tag :action => 'express' do %>
  <input type="hidden" name="price" value="<%= @amount -%>">
  <input type="image" src="<%= image_path('paypal.gif') %>">
<% end %>
