<h2>Transfer <%= sigil_money(@amount) -%> to your incentive account</h2>

<%= content_tag('div', "There was an error processing your payment: #{@paypal_error}", :class => 'error') if @paypal_error %>

<% if not @creditcard.nil? and not @address.nil? %>
  <% if @creditcard.errors.any? or @address.errors.any? 
       error_count = @creditcard.errors.length + @address.errors.length 
  %>
<div class="errorExplanation" id="errorExplanation">
  <h2>
    <%= error_count -%>
    <% if error_count > 1 %> 
    errors 
    <% else %>
    error
    <% end %>
    prevented this credit card purchase.
  </h2>
    There were problems with the following fields:
  <ul>
    <%= @creditcard.errors.full_messages.map {|m| content_tag('li', m)} %>
    <%= @address.errors.full_messages.map {|m| content_tag('li', m)} %>
  </ul>
</div>
  <% end %>
<% end %>

<h2>Pay by credit card:</h2>
<dl><dd>
<%= form_tag :action => 'credit' %>
<% fields_for :creditcard, @creditcard do |c| %>  
<p>
  <label>Card Type</label>
  <%= c.select :type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
</p><p>
  <label>Card Number</label> <%= c.text_field :number %>
</p><p>
  <label>Expiration Month</label> 
  <%= c.select :month, (1 .. 12) %>
  <%= c.select :year, (Time.now.year .. 12.years.from_now.year) %>
</p><p>
  <label>CVV 
  <%= c.text_field :verification_value, :size => 4 %>
  (three digits on the back of card)</label>
</p><p>
  <label>Name on Card (first, last)</label>
  <%= c.text_field :first_name, :size => 15 %>
  <%= c.text_field :last_name, :size => 15 %>
</p>
<% end %>
<% fields_for :address, @address do |a| %>  
<p>
  <label>Address Line 1</label>
  <%= a.text_field :address1, :size => 15 %>
</p><p>
  <label>Address Line 2</label>
  <%= a.text_field :address2, :size => 15 %>
</p><p>
  <label>City, State, Zip</label>
  <%= a.text_field :city, :size => 15 %>
  <%= a.select :state, @states %>
  <%= a.text_field :zip, :size => 8 %>
</p>
<% end %>
<p>
  <input id="price" name="price" type="hidden" value="<%= @amount -%>" />  
  <%= submit_tag 'Transfer Funds' %>
</p>
</form>
</dd></dl>

<h2>Or Pay by Paypal:</h2>
<dl><dd>
<% form_tag :action => 'express' do %>
  <input type="hidden" name="price" value="<%= @amount -%>">
  <input type="image" src="<%= image_path('paypal.gif') %>">
<% end %>
</dd></dl>
