<h2>Support</h2>

<b>From here you can:</b><br/>
<ul>
  <li><%= link_to 'Update Your User Information', :controller => 'update_account' -%></li>
  <li><%= link_to 'View Your Account History', :controller => 'account_history' -%></li>
  <li><%= link_to 'Provide Feedback', :controller => 'feedback' -%></li>
  <li><%= link_to 'Provide a Testimonial', :controller => 'provide_testimonial' -%></li>
  <li><%= link_to 'Report a Problem or Concern', :controller => 'report_problem' -%></li>
</ul>

