<% if not @feedback.nil? and @feedback.errors.any? %>
<div class="errorExplanation" id="errorExplanation">
  <h2>
    <%= @feedback.errors.length -%>
    <% if @feedback.errors.length > 1 %> 
    errors 
    <% else %>
    error
    <% end %>
    prevented this feedback from being sent.
  </h2>
    There were problems with the following fields:
  <ul>
    <%= @feedback.errors.full_messages.map {|m| content_tag('li', m)} %>
  </ul>
</div>
<% end %>
<h2>Feedback</h2>
<p><b>We'd love to hear from you....</b></p> 

<% form_for :feedback, @feedback, :url => { :action => 'submit' } do |f| %>
<p><label>Subject</label><br>
<%= f.text_field :subject, :class => 'text-input', 
    :size => 60,
    :style => @style
 %>
</p>
<p>
<label>Feedback</label><br>
  <%= f.text_area :feedback,
      :cols => 58,
      :rows => 10,
      :style => @style 
  %>
</p><p>
<%= submit_tag 'Send' %>
</p>
<% end %>
