<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<title><%= BomConstant::TITLE_TEXT -%></title>

<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" href="/goldberg/stylesheets/goldberg.css" 
  type="text/css" media="screen" />
<link rel="stylesheet" href="/goldberg/stylesheets/layout.css" 
  type="text/css" media="screen" />
<link rel="stylesheet" href="/stylesheets/bom.css"
  type="text/css" media="screen" />
</head>

<body>
<div class="container">

<div class="header">

<img class="logo_right" src="/goldberg/images/logo_right.jpg"/>
<h1><%= BomConstant::HEADER_TEXT -%></h1>
<h2><%= BomConstant::HEADER_NOTE -%></h2>

<!-- Could put something here like some top links -->
<!--p class="right_text"></p-->
</div>  <!-- class="header" -->

<!-- Horizontal menu, along top -->
<div class="mainmenu">
  <%= main_menu(@selected_button) -%>
</div>  <!-- class="mainmenu" -->
 
<div class="wrap">

<!-- Left-hand side.  Vertical submenus, plus other stuff -->
<div class="leftside">
  <!-- goldberg_left_menu -->
<!-- Put other LHS stuff here -->
</div>  <!-- class="leftside" -->


<!-- Right-hand side.  Login/status, plus other stuff -->
<div class="rightside">
 <!-- goldberg_login -->

<!-- Put other RHS stuff here -->
</div>  <!-- class="rightside" -->


<div class="content">
<% if flash[:note] -%>
<div class="flash_note"><%= flash[:note] %></div>
<% elsif flash[:error] -%>
<div class="flash_error"><h1>Error!</h1><%= flash[:error] %></div>
<% end -%>
<%= yield :layout %>
</div>  <!-- class="content" -->

<div class="clearingdiv">&nbsp;</div>
</div>  <!-- class="wrap" -->

</div>  <!-- class="container" -->

<div class="footer"><%= BomConstant::FOOTER_TEXT -%></div>
<%= # debug_popup %>
</body>
</html>
