 <center><h1><%= @user.first_name -%>'s Incentives</h1></center>
 <div id="user_ballance"><%= @ballance_text -%></div>
 <script>
 function update_user_ballance() {
 <%= remote_function :url => {:action => 'get_account_ballance' },
    :update => 'user_ballance' %>
 }
 </script>
 <%= render :active_scaffold => :bet, 
            :constraints => { :user_id => @user.id, :state => BomConstant::BET_STATE_CURRENT } 
  %>
 <%= render :active_scaffold => :accomplishments, 
            :constraints => { :user_id => @user.id, :state => BomConstant::BET_STATE_SUCCESS } 
  %>
<% if ENV["RAILS_ENV"] != "production" %>
<hr>Running in <%= ENV["RAILS_ENV"] -%> mode</hr>
<% end %>
