 <center><h1><%= h(current_user.first_name) -%>'s Incentives</h1></center>
 <div id="user_balance"><%= @balance_text -%></div>
 <script>
 function update_user_balance() {
 <%= remote_function :url => {:action => 'get_account_balance' },
    :update => 'user_balance' %>
 }
 </script>
 <%= render :active_scaffold => :bet, 
            :constraints => { :user_id => current_user.id, :state => BomConstant::BET_STATE_CURRENT }
  %>
 <%= render :active_scaffold => :accomplishments, 
            :constraints => { :user_id => current_user.id, :state => BomConstant::BET_STATE_SUCCESS }
  %>
<% if @show_expired != 0 %>
 <p><%= link_to "Show Expired Goals", { :controller => 'expired' } -%></p>
<% end %>
<% if @show_deleted != 0 %>
 <p><%= link_to "Show Deleted Accomplishments", { :controller => 'show_deleted' } -%></p>
<% end %>

<% if ENV["RAILS_ENV"] != "production" %>
<hr>Running in <%= ENV["RAILS_ENV"] -%> mode</hr>
<% end %>
