 <center><h1><%= @user.login -%>'s Motivational Page</h1></center>
 You have <b>$<%= @cash -%></b> to spend<br>
 <%= render :active_scaffold => :bet, 
            :constraints => { :user_id => @user.id, :state => BomConstant::BET_STATE_CURRENT } 
  %>
 <%= render :active_scaffold => :accomplishments, 
            :constraints => { :user_id => @user.id, :state => BomConstant::BET_STATE_SUCCESS } 
  %>
 <p><%= link_to "Add More Money", :controller => "purchase" %></p>
 <p><%= link_to "Log Out", :controller => "logout" %></p>
 <p><%= link_to "Cash Out", :controller => "cash_out" %></p>
