 <center><h1><%= @user.first_name -%>'s Incentives</h1></center>
 You have <b>$<%= @cash -%></b> to spend<br>
 <%= render :active_scaffold => :bet, 
            :constraints => { :user_id => @user.id, :state => BomConstant::BET_STATE_CURRENT } 
  %>
 <%= render :active_scaffold => :accomplishments, 
            :constraints => { :user_id => @user.id, :state => BomConstant::BET_STATE_SUCCESS } 
  %>
 <p><%= link_to "Add More Money", :controller => "purchase" %> |
    <%= link_to "Log Out", :controller => "logout" %> |
    <%= link_to "Cash Out", :controller => "cash_out" %> |
    <%= link_to "Help", :controller => "help" %></p>
